@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

/* configuracao basica */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all .2s linear;
  line-height: 200%;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

.root{
  --gradiente-start:rgba(4 ,9, 30, .3);
  --gradiente-end:rgba(4 ,9, 30, .9);
  --color-yellow:#fcd404
}

body {
  height: 200rem;
  background-color: #e9e9e9;
  font-family: 'Lato', sans-serif;
}
/* fim configuracao basica */

/* Cabecalho */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 8%;
  z-index: 1;
}

#escolha-principal{
  display: flex;
  justify-content: space-between;
}

.filtro{
  display: inline-block;
  margin: 10px;
  padding: .4rem 2rem; 
  background-color: yellow;
  border-radius: 50rem; 
  cursor: pointer; 
  transition: background-color 0.3s;
  border: .2rem solid #fcd404;;
  margin-top: 1.4rem;
  font-size: 1.8rem;
  width: 68rem;
  text-transform: capitalize;
  font-weight: bold;  
}

.escolha-viagem{
  padding-left: 10px;
}

.escolha-viagem h1{
  text-decoration: underline;
  padding-left: 20px;
}

.escolha-viagem label {
  display: inline-block;
  margin: 10px;
  padding: .4rem 2rem; 
  background-color: yellow;
  border-radius: 50rem; 
  cursor: pointer; 
  transition: background-color 0.3s;
  border: .2rem solid #fcd404;;
  margin-top: 1.4rem;
  font-size: 1.8rem;
  width: 16rem;
  text-transform: capitalize;
  font-weight: bold;  
}

.escolha-viagem label:hover {
  background-color: #50638d; 
}


#cabecalho{
  justify-content: space-between;
}

.guiliver{
  width: 40%;
}

#menu{
  justify-content: space-between;
}

.header-menu{
  position: relative;
  top: 10px;
  /*margin: 10%;*/
  font-size: 30px;
}

.header-menu ul {
  width: 40%;
  position: relative;
  margin-left: -10%;
  margin-top: 2px;
  display: flex;
}

.header-menu li {
  font-size: 30px;
  letter-spacing: 1px;
  width: 70%;
}

.menu-item{
  width: 30%;
  padding: 50px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#formulario-comentario, #formulario-comentario1, #formulario-comentario3 {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 999;
}

#formulario-comentario:target, #formulario-comentario1:target, #formulario-comentario3:target {
  display: block;
}

.fechar-formulario {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.active-scroll a:hover{
  color: #fcd404;
}

.active-scroll {
  background-color: #000;
}

#pesquisa{
  justify-content: space-between;
}

.buscar_input{
  width: 90%;
  margin-left: 50%;
  padding: 10px;
  position: relative;
  top: 40px;
  align-items: center;
  text-align: center;
  border-radius: 8px;
}


.btn_pesquisa{
  padding: 8px, 16px, 8px, 16px;
  width: 25%;
  height: 48px;
  position: relative;
  bottom: 8px;
  margin-left: 130%;
  margin-bottom: 45px;
  border-radius: 8px;
  background-color: #fcd404;
}

.btn-comentario:hover{
  background-color: #50638d;
}

.btn-comentario{
  display: inline-block;
  margin-top: 1.4rem;
  background: #fcd404;;
  padding: .6rem 3rem;
  border-radius: 50rem;
  border: .2rem solid #fcd404;;
  cursor: pointer;
  font-size: 1.8rem;
  width: 25rem;
  text-transform: capitalize;
  color: #000;
}

ul,ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    transition: 0.5s;
}

a:hover {
    color: orange;
}
/* Fim Cabecalho */

section {
  padding: 2rem 5%;
}

.inicio {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
}

.inicio .content {
  text-align: center;
  color: #fff;
  font-weight: 900;
  font-size: 4.5rem;
  color: #fff;
}


.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-bottom: solid 3px #fcd404;;
  filter: drop-shadow(100);
  background: linear-gradient( rgba(0,0,0,1), rgba(0,0,0,0));
}

.hotel .box-container .box {
  display: flex;
  flex: 1 1 30;
  border-radius: 6%;
  border: solid 3px #fcd404;;
  box-shadow: 0 .1rem .5rem .1rem rgba(0, 0, 0, .1);
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 2rem;

}

.hotel .box-container .box .image {
  width: 30%;
  border: solid 3px #fcd404;;
  object-fit: cover;
  margin-top: 1rem;
  border-radius: .3rem;
  cursor: pointer;
}

.hotel .box-container .box .image:hover {
  filter: brightness(0.80);
}

.hotel .box-container .box .content {
  padding: 2rem;
}

.hotel .box-container .box .content p {
  font-size: 2.1rem;
  text-align: left;
  color: rgb(26, 21, 21);
  padding: 1rem 0;
  line-height: 2.2rem;
}

.hotel .box-container .box .content .title {
  font-size: 2.5rem;
  color: #000;
  font-weight: 700;
}

.hotel .box-container .box .content .estrelas i {
  font-size: 1.8rem;
  font-weight: 700;
  color: #ceac02;
}

.hotel .box-container .box .content .review {
  font-size: 1.8rem;
  color: #000;
}

.hotel .box-container .content .btn {
  display: inline-block;
  margin-top: 1.4rem;
  background: #fcd404;;
  padding: .6rem 3rem;
  border-radius: 50rem;
  border: .2rem solid #fcd404;;
  cursor: pointer;
  font-size: 1.8rem;
  width: 20rem;
  text-transform: capitalize;
  font-weight: bold;  
}

.hotel .box-container .content .btn:hover {
  background: #50638d;
}

@media (max-width:1200px) {
  html {
    font-size: 55%;
  }

  .hotel .box-container .box {
    display: block;
  }

  .hotel .box-container .box .image {
    height: 20rem;
    width: 100%;
  }
}

@media (max-width:991px) {
  header {
    padding: 10px 20px;
    flex-direction: column;
  }

  header .logo {
    padding-bottom: 20px;
  }

  section {
    padding: 2rem;
  }

  .home .content h1 {
    margin-top: 14rem;
  }
}

@media (max-width:600) {
  .header .search {
    width: 50%;
  }
}

@media (max-width:450px) {
  html {
    font-size: 50%;
  }

  .heading span {
    font-size: 2.5rem;
  }

  .hotel .box-container, .box {
    display: block;
  }
}

.mapa{
  padding: 20px;
  width: 450px;
  margin: 0 auto;
}


.checkboxmodal {

  display: none;
}

#modalexemplo:checked + .modal {

  display: flex;

}


.modal {

  display: none;
  position:relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.2);
  
}

.modal .fecharmodal {
  font-size: large;
  position: absolute;
  top: 0px;
  right: 15px;
}

.modal .fecharmodal:hover {
  cursor: pointer;
  color: red;
  font-size:x-large;
}

.modal .conteudomodal {

  width: 100%;
  height: 50%;
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 15px black;
}

 /* início modal 1 */

 .checkboxmodal1 {

  display: none;
}

#modalexemplo1:checked + .modal1 {

  display: flex;

}


.modal1 {

  display: none;
  position:relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.2);
  
}

.modal1 .fecharmodal1 {
  font-size: large;
  position: absolute;
  top: 0px;
  right: 15px;
}

.modal1 .fecharmodal1:hover {
  cursor: pointer;
  color: red;
  font-size:x-large;
}

.modal1 .conteudomodal1 {

  width: 100%;
  height: 50%;
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 15px black;
}

/* fim do modal1 */

/* início do modal2 */

.checkboxmodal2 {

  display: none;
}

#modalexemplo2:checked + .modal2 {

  display: flex;

}


.modal2 {

  display: none;
  position:relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.2);
  
}

.modal2 .fecharmodal2 {
  font-size: large;
  position: absolute;
  top: 0px;
  right: 15px;
}

.modal2 .fecharmodal2:hover {
  cursor: pointer;
  color: red;
  font-size:x-large;
}

.modal2 .conteudomodal2 {

  width: 100%;
  height: 50%;
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 15px black;
}









.indisponivel {
  
  color: red;
}

.recomendacoes {

  margin-top: 20px;
}

.preco {
  background-color: rgb(147, 224, 144);
  margin-top: 20px;
  display: inline-flex;
}